@model Sistem.Core.Data.CritiqK.CritiqOrder
@{
    ViewBag.Title = "DetailsAboutFeedback";
}
<h2>DetailsAboutFeedback</h2>

<div>
    <h4>ElestiriSiparis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CritiqMessage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CritiqMessage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsSeen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsSeen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        @if (Model.IsSeen == false)
            {
            <dd>
                @using (Html.BeginForm("AnswerForOrderFeedback", "Feedback"))
                {
                    @Html.TextArea("AnswerForFeedBack");
                    @Html.Hidden("FeedbackId", Model.CritiqOrderId)
                    <input type="submit" value="Send Answer" class="btn btn-default" />
                }
            </dd>
        }
        else
        {
            <dd>
                @Html.EditorFor(model => model.Answer)
            </dd>
        }
    </dl>
</div>
<table cellpadding="10" border="1">
    <tr>
        <th>Menu Name</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    @foreach (var item in Model.Order.OrderDetail)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Menu.MenuName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPrice)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>