@model IEnumerable<Sistem.Core.Data.CritiqK.CritiqOrder >
@{
    ViewBag.Title = "Order Feedback By Customer";
}
<h2>Order Feedback By Customer</h2>
<table class="table">
    <tr>
        <th> 
            @Html.DisplayNameFor(model => model.Order.Date )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.TotalPrice )       
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Date )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.TotalPrice )
        </td>
        <td>
            @Html.ActionLink("See The Feedback", "DetailsAboutOrderFeedback", new { FeedbackId = item.CritiqOrderId}) |
        </td>
    </tr>
}
</table>
@Html.ActionLink("See The General Feedback", "Index", new { Type = 1 }) |
@Html.ActionLink("See The Menu Feedback", "Index", new { Type = 2 }) |
@Html.ActionLink("See The Order Feedback", "Index", new { Type = 3 }) |